body{

    font-family: 'Otomanopee One', sans-serif;
    margin: 0%;
}
span{
    color: orange;
}
h1{
    font-size: 350%;
    
}

section{


    display: flex;
    margin-bottom: 2%;
}
.button{

    text-decoration: none;
    background-image: linear-gradient( red,orange);
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 24px rgb(204, 201, 201);
}
.half-width{

    width: 50%;
    margin: 4%;
}
.half-width img{

    width: 80%;
   
    padding-left: 4px;
}

#add-background-image{

    background-image: url(../IMAGES/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    
   
}
#secound-pic{

    width: 60%;
   
    margin-top: 10px;
    margin-left: 20%;
}

h2{
    text-align: center;
    font-size: xx-large;
    color: rgb(86, 85, 85);
}
#About-me{

    width: 50%;
    text-align: justify;
    margin-right: 23%;


}
#C-paragraph{

    margin-left: 20%;
    margin-right: 20%;
    
    text-align: center;
}
.box{

        width: 50%;
        box-shadow: 5px 7px 40px rgb(45, 45, 44);
        height: 550px;
        padding-left: 1%;
        padding-right: 3%;
        margin: 5%;
        border-radius: 40px;

}
.CI{

    width: 90%;
    margin-left: 8%;
    margin-top: 8%;
    
}
#Box2{
    
    
    width: 40%;
    box-shadow: 5px 7px 40px;
    display: flex;
    margin: 6%;
    padding-right: 44%;
    

}

.Flw{

    width: 15%;
    margin-left: 15%;
}
#BB{

    box-shadow: 5px 7px 40px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
}

footer{
   background-color: black;

    text-align: center;
}
#footer-color{

    color: orangered;
    
}
#fp{

    color: white;
}
ul{


 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(144, 185, 235);

}
li{
    display: inline;
    float: right;
    margin-top: 2%;
}
li a {


    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 6%;
}
li a:hover{

    background-color:gray;
    border-radius: 12px;
}
#NBT{

    float: left;
    margin-left: 9%;
    margin-top: 0%;
    font-size: xx-large;
    color:rgba(255, 68, 0, 0.68);
}
#BG{

    box-shadow: 5px 2px 40px;
    margin-left: 10%;
    padding-bottom: 3%;
    background-color: rgba(10, 20, 3, 0.564);
    margin-right: 5%;
    border-radius: 12px;
}

.stay{

    text-decoration: none;
    padding-left: 32%;
    
}

input{

    width: 100%;
    border: 2px red;
    padding-top: 12%;
    padding-bottom:12%;
    border-color:2px red;
   
    padding-right: 64%;
    border-radius: 12px;
}
button{

    font-size: large;
    border-radius: 50px;
    text-align: center;
    color: red;
    
}
